.home-blogs-page-search-blogs-and-filter-all-blogs-pagination{
    width: 100%;
  }
  .home-blogs-page-search-blogs-and-filter-all-blogs-pagination-box{
    display: flex;
    padding:1rem;
    gap:0.7rem;
    color:#6b7280;
    font-weight: bold;
    position: relative;
    float: right;
  }
  .home-blogs-page-search-blogs-and-filter-all-blogs-pagination-box-prev-and-next-icon{
    align-content: center;
    font-size: 2rem;
    color: #ffffff;
    font-weight: bold;
    background-color: #000000;
    border-radius: 100%;
    cursor: pointer;
  }
  .home-blogs-page-search-blogs-and-filter-all-blogs-pagination-box-curr-page{
    align-content: center;
    font-size: 1.2rem;
    font-weight: 600;
    align-content: center;
    color:black;
    min-width: 2rem;
    text-align: center;
  }