.about-container {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #2c3e50;
  background-color: #ffffff;
}

.about-hero-section{
  width: 100%;
  height: 600px;
}
.hero-overlay{
  width: 100%;
  height: 100%;
  padding-top: 60px;
}
.hero-overlay-img{
  height: 100%;
  width: 100%;
  object-fit: fill;
}
.about-hero-content{
  width: 100%;
  height: 540px;
  position: absolute;
  top: 60px;
  left: 0;
  text-align: center;
  padding-top: 8rem;
  color:#fff;
  font-family: 'Roboto', sans-serif;
  background: rgba(0,0,0,0.4);
}
.about-hero-content h1{
  font-size: 4rem;
  font-weight: 600;
}
.about-sub-heading{
  font-size: 1.8rem;
  font-weight: 100;
}
.about-quote{
  padding-top: 1rem;
  font-size: 1.2rem;
  font-weight: 100;
}
.quoted-by{
  text-align: right;
  padding-top: 2rem;
  padding-right: 15rem;
  font-size: 1.2rem;
  color:red
}
  

.section {
  padding: 60px 20px;
}

.section-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.section.reverse .section-content {
  flex-direction: row-reverse;
}

.text {
  flex: 1;
  padding: 20px;
}

.text h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.text p {
  font-size: 1rem;
  line-height: 1.6;
}

.image {
  flex: 1;
  padding: 20px;
  text-align: center;
}

.image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

/* General Section Styling */
.hero-section {
  width: 100%;
  padding: 60px 20px;
  background-color: #f4f4f9;
  text-align: center;
  color: #333;
}

/* Content Styling */
.hero-content {
  max-width: 800px;
  margin: 0 auto;
}

.hero-content h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #2c3e50;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  line-height: 1.6;
  color: #7f8c8d;
}

/* Call-to-Action Button Styling */
.hero-content .cta-button {
  padding: 12px 24px;
  font-size: 1.1rem;
  background-color: #32729c;
  color: white;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.hero-content .cta-button:hover {
  background-color: #246c05;
}


@media (max-width: 768px) {
  .section-content {
    flex-direction: column;
  }

  .section.reverse .section-content {
    flex-direction: column;
  }

  .about-hero-content {
    padding-top: -8rem;
    height: 600px;
  }
  .about-hero-content h1{
    font-size: 2.5rem;
  }
  .hero-overlay-img{
    height: 600px;
  }
}
