.search-container{
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  background-color: #0056b3;
}
.search {
    display: flex;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    padding: 2rem ;
  }
  
  .search-input {
    flex: 1;
    padding: 10px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-right: none;
    border-radius: 4px 0 0 4px;
    outline: none;
  }
  
  .search-button {
    padding: 10px 16px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: 1px solid #007bff;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .search-button:hover {
    background-color: #0056b3;
  }
  
  .creators{
    padding: 0 2rem ;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }