.create{
  width:80%;
  margin:0 auto;
  background-color: #f9f7f7;
  padding: 0 1rem;
}
.create-container{
  width: 70%;
  margin: 0 auto;
}
.create-post-heading{
padding: 2rem 0;
 font-size: 3rem;
 font-weight: 700;
 text-align: center;
 color:#296291;
 text-wrap: nowrap;
}
.create-container-box{
  margin: 2rem 0 0 0;
  display: grid;
  gap:1rem;
}
.create-container-box-div{
  width: 100%;
  display: grid;
  gap:0.5rem;
}
.label{
  width: 100%;
  color:#296291;
  font-size: 1.2rem;
  font-weight: 600;
}
.image-select-box{
  width: 100%;
  border: 2px solid #296291;
  padding: 2rem 3rem;
  border-radius: 0.5rem;
  text-align: center;
}
.input{
  width: 100%;
  border: 2px solid #296291;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  outline:none;
}

.select-image-text{
  font-size: 1rem;
  width: 100%;
  padding: 1rem 0;
  color:#296291
}
.description{
  border: 2px solid #296291;
  padding: 0.5rem 2rem;
  outline: none;
  border-radius: 0.5rem;
}
.post-submit-div{
  width: 100%;
  text-align: center;
}
.post-submit-button{
  margin: 1.5rem auto;
  padding: 0.5rem 3rem;
  background-color: #296291;
  color:#fff
}
.post-submit-button:hover{
  background-color: #296291;
}

