.search-container {
  width: 80%;
  margin: 0 auto;
  min-height: 90vh;
}
.result-choose {
  display: flex;
  gap: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 1rem 1.5rem;
}
.result-select-post {
  color: #818181;
  cursor: pointer;
}
.result-select-channel {
  color: #818181;
  cursor: pointer;
}
.result-view-container {
  border: 2px solid gray;
  border-radius: 0.5rem;
  min-height: 65vh;
  color: #818181;
}
.no-result-found {
  padding: 1rem 2.5rem;
}
