.not-found-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    width: 100%;
    margin: 0 auto;
    background-image: transparent;
    text-align: center;
    font-family: 'Arial', sans-serif;
    color: black;
  }
 
  .not-found-title {
    font-size: 10rem;
    font-weight: 700;
    animation: titleColorChange 6s linear infinite; 
  }
  
  .not-found-message {
    font-size: 1.5rem;
    font-weight: 500;
    color:#acacac
  }
  
  @keyframes titleColorChange {
    0% {
      color: #ff7e5f; /* Pink */
    }
    25% {
      color: #feb47b; /* Orange */
    }
    50% {
      color: #4caf50; /* Green */
    }
    75% {
      color: #2196f3; /* Blue */
    }
    100% {
      color: #9c27b0; /* Purple */
    }
  }

  .go-home-button {
    margin-top: 20px;
    padding: 0.5rem 2rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.187);
    border: none;
    border-radius: 2rem;
    color:#b8b6b6;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.09);
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .go-home-button:hover{
    background-color: #2196f3;
    color: #fff;
  }
  