/* testimnial card */
.testimonial-card{
    padding: 1.5rem;
    width: 100%;
    background-color: rgba(0,0,0,0.05);
    border-radius: 10px;
}
.testimonial-user-detail{
    display: flex;
    gap:1rem;
    align-content: center;
}
.user-detail-image-box{
    width: 3rem;
    height: 3rem;
    margin: auto 0;
    
}
.user-detail-image-box-image{
    width: 3rem;
    height: 3rem;
    object-fit: fill;
    border-radius: 100%;
}
.testimonial-user-detail-info-username{
    font-size: 1.3rem;
    font-weight: 600;
    color:#e0e0e4;
    line-height: 1.8rem;
}
.testimonial-user-detail-info-work{
    font-size: 1rem;
    color:#fea116;
    line-height: 1rem;
}
.testimonial-content{
  padding: 1rem 0;
  color:rgb(225, 222, 222);
  text-align: justify;
}
.quote-left{
    color:#fea116;
    float: left;
    font-size: 1.5rem;
    margin: 0 0.5rem;
}
.quote-right{
    color:#fea116;
    float: right;
    font-size: 1.5rem;
    margin: 0 0.5rem;
}

/* testimonial */
.testimonial-box {
    width: 80%;
    margin:0 auto;
    padding: 2rem 0;
    height: auto;
  }
  .reviews {
    width: 100%;
    height: auto;
  }
  .review-col {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
  }

