@tailwind base;
@tailwind components;
@tailwind utilities;



*{
  box-sizing: border-box;

}

body{
  background-image: linear-gradient(to top, rgba(0,0,0,0.2),rgba(0,0,0,0.4),rgba(0,0,0,0.6),rgba(0,0,0,0.8), rgba(0,0,0,1));
}
::-webkit-scrollbar{
  display: none;
}

.hamberger-div{
  display: none;
}


@media (max-width:767px){
  
  /* navbar */
  .navbar-container{
    width: 100%;
    flex-wrap: nowrap;
  }
  .navbar-container-left-section-links{
    display: none;
  }
  .navbar-container-right-section-account{
    display: none;
  }
  .navbar-container-right-section-hamberger-menu{
    visibility: visible;
    padding: 0;
  }
  .navbar-search{
    width: 100%;
    margin: 0 auto;
    display: flex;
    position: absolute;
    top:3.7rem;
    left: 0;
    right: 0;
    z-index: 30;
    
  }
  .hamberger-div{
    visibility: visible;
    display: inline-block;
    position:absolute;
    top: 4.2rem;
    right: 0;
    z-index: 3;
    list-style: none;
  }
  .hamberger{
    position: relative;
    right: 0;
    z-index: 10;
  }
  .search-box{
    height: 2.5rem;
  }
  .search-box-label{
    width: 100%;
  }
  .search-button{
    padding: 0 1.5rem;
  }

  .login-container{
    width: 100%;
    padding: 1rem;
  }
  .login-form-div{
    width: 100%;
  }
  .signup-container{
    width: 100%;
    padding: 1rem;
  }
  .signup-form-div{
    width: 100%;
 
  }
  .signup-form-inner-div{
    display: grid;
    grid-template-columns: auto;
  }

  .home{
    width: 100%;
  }
  .home-top{
    height: 80vh;
    width: 100%;
  }
  .home-cover-image-box{
    height: 100%;
    width: 100%;
  }
  .home-top-banner-text{
    margin-top: 1.5rem;
  }
  .heading{
    font-size: 3rem;
    line-height: 3.5rem;
  }
  
  .home-mid-box-heading p{
    font-size: 3rem;
  }
  .home-mid-box-div-text p{
    width: 100%;
    font-size: 1rem;
  }
  .home-mid-box-heading p{
    padding: 1rem 0;
  }
  .home-mid-developer-section{
    width: 100%;
  }
  .developer-details{
    width: 100%;
  }
 

  /* footer */
  .footer-box{
    display: grid;
    grid-template-columns: auto auto;
    gap:0.5rem
  }

  .home-blogs-page{
    width: 100%;
  }
  .user-view-blog-container{
    width: 100%;
    margin:0;
  }
  .editor-blog-edit-container{
    width: 100%;
    margin: 0;
  }

  .blog-search-page{
    width: 100%;
    margin:0 auto;
  }

  .account-details{
    width: 100%;
  }

  .edit-user-detail-container{
    width: 100%;
  }
  .edit-detail-container-box-main-left{
    gap:2.5rem
  }
  .top-creators{
    width: 100%;
  }
  .top-creators-container-podium{
    padding: 0 0.2rem;
    width: 100%;
    gap:0.5rem
  }
  .top-creators-container-4th-onward-ranking-container-box{
    padding: 1rem 0;
    margin-top: 5rem;
  }

  .create{
    width: 100%;
  }
  .create-container{
    width: 100%;
    padding: 0.5rem;
  }
  .image-select-box{
    padding: 0;
  }

  .Contact-container{
    width: 100%;
  }
  .Contact-form-fields{
    width: 100%;
  }
  .contact-container-form-container{
    width: 100%;
    padding: 0 2rem;
  }

  .edit-profile-cover-image{
    width: 100%;
  }

  /* viewPost */
  .post-container{
    width: 100%;
    background-color: #f9f7f7;
    padding: 0;
  }
  .post-container-top{
    width: 100%;
    display: grid;
    padding: 1rem;
  }
  .post-left-container{
    box-shadow: none;
  }
  .post-left-container-image{
    width: 100%;
    height: 300px;
  }
  .post-image{
    border-top-left-radius: none;
    border-top-right-radius: none;
  }

  .post-right-container{
    background-color: rgba(185, 184, 184, 0.066);
    border-radius: 0.5rem;
  }

  /* edit-post */
  .edit-post-container{
    width: 100%;
    padding: 0;
  }
  .edit-post-container-top{
    display: grid;
    gap:2rem
  }
  .edit-post-container-left{
    width: 100%;
    position: relative;
    height: 300px;
  }
  .edit-post-container-left-image-form{
    position: absolute;
    bottom: 1rem;
    padding: 0 2rem;
  }
  .edit-post-container-left-image-prev{
    width: 100%;
    height: 300px;
  }
  .edit-post-curr-post-image{
    width: 100%;
    height: 300px;
    object-fit: fill;
    z-index: 1;
  }
  .edit-post-container-right{
    gap:2rem;
    padding: 1rem;
  }
  .edit-post-submit-desc{
    top:0
  }


  /* feedback */
  .feedback-container{
    width: 100%;
  }
  .feedback-form-fields{
    width: 100%;
  }
  .about-us{
    width: 100%;
  }
  .about-us-top{
    display: grid;
    padding:1rem;
    text-align: center;
  }
  .about-us-bottom-p{
    width: 100%;
    padding: 1rem;
    text-align: center;
  }
  .navbar-search{
    width: 100%;
    padding: 0.5rem;
  }
  .edit-user-detail-container-box{
    padding: 0.5rem;
  }
  .edit-detail-container-box-main-left{
    display: grid;
    gap:0.5rem;
  }

  .edit-detail-container-box-main-left-edit-box-input{
    width: 100%;
    min-width: 140%;
  }
  .account-details-user-info-about-user-followers-total-followers{
    display: none;
  }
  .footer-box{
    padding: 1rem;
    display:flex;
    flex-wrap: wrap;
    width:100%;
    margin: 0 auto;
    gap:1rem
  }

}

@media (min-width: 767px){
  .navbar-container-right-section-hamberger-menu{
    display: none;
  }

}

@media (min-width:767px) and (max-width: 1300px){
  /* create page */
  .create{
    width: 80%;
  }
  .create-container-form-container-outer{
    display: grid;
    gap:4rem
  }
  .create-container-form-container-box{
    width: 100%;
  }
  .create-container-preview-container{
    width: 100%;
  }
  /* contact-page */
  .Contact-form-fields{
    width: 80%;
  }

  .login-container{
    width: 80%;
    padding: 1rem;
  }
  .login-form-div{
    width: 80%;
  }

  .signup-container{
    width: 80%;
    padding: 1rem;
  }
  .signup-form-div{
    width: 80%;
 
  }
  .signup-form-inner-div{
    display: grid;
    grid-template-columns: auto;
  }

    /* viewPost */
    .post-container{
      width: 80%;
      background-color: #f9f7f7;
      padding:0;
    }
    .post-container-top{
      width: 100%;
      display: grid;
      padding: 1rem;
    }
    .post-left-container{
      box-shadow: none;
    }
    .post-left-container-image{
      width: 100%;
      height: 300px;
    }
    .post-image{
      border-top-left-radius: none;
      border-top-right-radius: none;
    }
  
    .post-right-container{
      background-color: rgba(185, 184, 184, 0.066);
      border-radius: 0.5rem;
    }

    /* edit-post */
    .edit-post-container{
      width: 80%;
      padding: 0;
    }
    .edit-post-container-top{
      display: grid;
      gap:2rem;
      padding: 0 1rem;
    }
    .edit-post-container-left{
      width: 100%;
      position: relative;
      height: 300px;
    }
    .edit-post-container-left-image-form{
      position: absolute;
      bottom: 1rem;
      padding: 0 2rem;
    }
    .edit-post-container-left-image-prev{
      width: 100%;
      height: 300px;
    }
    .edit-post-curr-post-image{
      width: 100%;
      height: 300px;
      object-fit: fill;
      z-index: 1;
    }
    .edit-post-container-right{
      gap:2rem;
    }
   

    /* feedback */
    .feedback-form-fields{
      width: 80%;
    }

}

