@tailwind base;
@tailwind components;
@tailwind utilities;



*{
  box-sizing: border-box;
}

body{
  background-color: #242424;
}

::-webkit-scrollbar{
    height: 8px;
    width:100%;
    /* background: #0a1b46; */
}
::-webkit-scrollbar-thumb{
  background-color: rgb(224, 27, 27);
  border-radius: 10px;
  visibility: hidden;
}

.btn{
    background-image: linear-gradient(to right, rgba(30, 213, 169, 0.8)0% , rgba( 1, 180, 228, 0.8)100%);
}
/* navbar discover & account hover */

.discover{
  display: grid;
  padding:1rem 1rem;
  height:auto;
  width: 10rem;
  font-weight: 600;
  border-radius: 0.5rem;
  background-color: #facc15;
}
.discover-item{
  padding:0.5rem 0.5rem;
  border-radius: 4px;
}
.discover-item:hover{
  background-color: #242424;
  color: #d5d3d3;
}

.account{
  display: grid;
  padding:1rem 1rem;
  height:auto;
  width: 18rem;
  color:#375139;
  border-radius: 0.5rem;
  background-color: #facc15;
}
.account-item:hover{
  background-color: #242424;
  color: #d5d3d3;
}

.closeIcon{
  float:right;
  margin-right: 1rem;
  margin-top: 1rem;
  color:#3b3b3b;
}

.like:hover{
  color:#ff404f
}

.rank-icon{
  position:absolute;
  left: 47%;
  top:17%
}

.bg{
  background-image: linear-gradient(to left, rgba(24, 24, 35, 0.7), rgba(18, 18, 21, 0.7));
  overflow-y: hidden;
}

@media (max-width:480px){
                                /* navbar */
  .navbar{
    width:100%;
    overflow-x:visible;
    display: flex;
    justify-content: space-between;
  }
  .nav-left-items{
    display: flex;
    gap:1rem;
  }
  .nav-right-items{
    display: none;
  }
  .hamberger{
    width:100%;
    height:auto;
    visibility: visible;
    text-align: end;
  }

                                /* Home-top */
  .home-top{
    display: flex;
    width: 100%;
    margin: 1rem 0;
  }
  .home-top-left{
    width:80%;
    align-content: center;
    margin: 0 auto;
  }
  .heading{
    font-size: 3rem;
    line-height: 3.5rem;
    font-weight: 700;
    color:#facc15;
    text-wrap: nowrap;
  }
  .home-desc{
    padding: 1rem 0;
    font-size: 1rem;
    color:#facc15
  }
   .home-top-right{
    display: none;
    /* width: 40%;
    height: auto;
    align-content: center;
     visibility: visible;  */
  }
  /* .home-top-right-image{
    width:100%;
    height: 200px;
    padding: 10px;
    background-color: #e2e2f0;
    background-size: cover;
    border-radius: 20px;
  }  */

                               /* Home-mid */
  
  .home-mid{
    display: flex;
    flex-wrap: wrap;
  }
  .home-mid-box{
    margin:1rem;
    padding:1rem;
    border:3px solid #facc15;
    border-radius: 1rem;
    display: grid;
    width: 100%;
    justify-items: center;
    gap:1rem
  }
  .home-mid-box-image{
    width: 250px;
  }
  .home-mid-box-title{
    font-size: 1.5rem;
    font-weight: 600;
    color:#facc15
  }
  .home-mid-box-desc{
    font-size: 1rem;
    text-align: justify;
  }

  /* testimonial */

  .testimonial{
    width: 100%;
    background:#375139;
  }
  .testimonial-box{
    width: 100%;
    display: grid;
    margin: 2rem 0;
    color:#facc15;
  }
  .testimonial-heading-1{
    margin: 0.5rem 0;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 700;
  }
  .testimonial-heading-2{
    margin:1rem 0;
    font-size: 2.5rem ;
    text-align: center;
    line-height: 2.25rem;
    font-weight: 700;
    color: #6b7280;
  }
  .testimonial-hr{
    margin: 0.5rem auto;
    outline:none;
    border:none;
    height: 0.5rem;
    width: 90%;
    background-color:#facc15;
  }
  .testimonial-p{
    text-align: center;
    font-size: 1.2rem;
    width: 100%;
    margin: 1rem auto;
  }
  .testimonial-inner-box{
    width: 100%;
    display: grid;
    padding: 1rem 0;
    justify-items: center;
    grid-template-columns: 0.5fr 2fr 0.5fr;
    background-color: #d5d3d3;
    align-items: center;
  }
  .testimonial-inner-box-arrow{
    padding: 0 1rem;
    
  }
  .testimonial-inner-box-feedback{
    width:325px;
  }
  .testimonial-inner-box-feedback-container{
    width:100%;
    display: flex;
    gap:2rem; 
    overflow-x:auto;
  }
  .testimonial-card{
    position: relative;
    display:grid;
    width:325px;
    min-height:500px;
    max-height: auto;
    justify-items: center;
  }
  .testimonial-card-outer-box{
    width:325px;
    z-index: 2;
  }
  .testimonial-card-box{
    margin: 0 auto;
    width:100px;
    height: 100px;
    background:#fff;
    background-size: cover;
    border-radius: 100%;
    align-content: center;
  }
  .testimonial-card-box-image{
    margin: 0 auto;
    width:94px;
    height: 94px;
    padding: 3px;
    border-radius: 100%;
    
  }
  .testimonial-card-content{
    position: absolute;
    top:50px;
    display: grid;
    height: auto;
    background: #747171;
    padding-top: 5rem;
    z-index: 1;
  }
  .testimonial-card-content-quote{
    width: 100%;
    padding: 1rem;
  }
  .testimonial-card-content-quote-right{
    float:right;
  }
  .testimonial-card-content-desc{
    padding: 0 1rem;
    font-size: 1.2rem;
  }
  .testimonial-card-content-user{
    width: 100%;
    padding: 1rem;
  }
  .testimonial-card-content-user-id{
    float: right;
    font-size: 1.2rem;
  }

  /* footer */
.footer-box{
  display:grid;
  padding: 0 1rem;
  width: 100%;
  gap:1.5rem;
  grid-template-columns: auto auto ;
}
.footer-box-1{
  display: grid;
}
.footer-box-1-logo{
  width:60px;
  height: 60px;
}
.footer-box-1-logo-image{
  width: 60px;
  height: 60px;
  background-size: cover;
}
.footer-box-1-logo-name{
  display: flex;
  gap:2px;
  font-size:2rem;
  font-weight: 900;
}
.footer-box-1-slogan{
  font-size: 1.5rem;
  font-weight: 400;
}
.footer-box-2-3{
  display: grid;
}
.footer-box-2-3-4-heading{
  font-size: 1.3rem;
  font-weight: 700;
}
.footer-box-2-3-links{
  list-style: none;
  font-weight: 600;
  color:#646262;
}
.footer-box-4-links{
  display: grid;
  gap:0.2rem;
}
.footer-box-4-link{
  display: flex;
  gap:0.5rem;
  align-items: center;
  color:#646262;
}
.footer-box-hr{
  margin-top: 1rem ;
  height:1px;
  width:100%;
  background: #000;
}
.footer-box-copyright{
  padding:0.5rem 0;
  display:flex;
  gap:4px;
  justify-content: center;
}
.footer-box-copyright-icon{
  align-content: center;
}

/* coverbox and coverImageSelectBox*/
.coverImageEditBox{
  margin: 0 auto;
  width: 100%;
  height: auto;
  background: transparent;
  color:white;
  border:2px solid gray;
  z-index: 2;
}
.coverImageEditBox-top{
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}
.coverImageEditBox-top-title{
  font-size: 1.2rem;
}
.coverImageEditBox-top-close{
  font-size: 1.5rem;
  padding: 2px;
}
.coverImageEditBox-top-close:hover{
  background-color: #686966;
}
.coverImageEditBox-mid{
  padding: 0.5rem;
  height: 288px;
}
.coverImageEditBox-mid-image{
  width: 100%;
  height: 100%;
  background-size: cover;
}
.coverImageEditBox-hr{
  height: 2px;
  width: 100%;
  background: #6b7280;
}
.coverImageEditBox-bottom{
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}
.coverImageEditBox-bottom-edit-button{
  display: grid;
  justify-content: center;
  border-radius: 10px;
}
.coverImageEditBox-bottom-edit-button:hover{
  background-color: #6b7280;
}
.coverImageEditBox-bottom-edit-button-icon{
  font-size:1.5rem
}
.coverImageEditBox-bottom-edit-button-text{
  font-size: 1rem;
}
.coverImageEditBox-bottom-edit-input{
  display: none;
}
.coverImageEditBox-bottom-delete-button{
  display: grid;
  justify-content: center;
}
.coverImageEditBox-bottom-delete-button:hover{
  background-color: #6b7280;
}
.coverImageEditBox-bottom-delete-button-icon{
  font-size: 1.5rem;
  margin: 0 auto;;
}
.coverImageEditBox-bottom-delete-button-text{
  font-size: 1rem;
}

.coverbox{
  width: 100%;
  position: absolute;
  top:0;
  height: 100%;
  z-index: 2;
}
.coverbox-box{
  position: absolute;
  top:10%;
  z-index: 3;
  height: auto;
  width: auto;
}
.photobox{
  position: absolute;
  top: 5%;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.photobox-box{
  position: absolute;
  z-index: 2;
  top:5%;
  left:26%;
  height: auto;
}

/* account-details ->>> user info && userposts  */
.account-details-user{
  display: grid;
  justify-items: center;
  z-index: -2;
}
.account-details-user-info{
  height: auto;
  width: 100%;
  background-color: #09090b;
  position: relative;
  border-radius: 0.5rem;
}
.account-details-user-info-coverImage-section{
  height: 208px;
  background-color: #bfdbfe;
  position: relative;
}
.account-details-user-info-coverImage-section-editCoverImage{
  position: absolute;
  right:2rem;
  top:2rem;
  background-color: #fff;
  height: 2rem;
  width: 2rem;
  align-content: center;
  border-radius: 100%;
  z-index: 1;
  cursor: pointer;
}
.account-details-user-info-coverImage-section-displayCoverImage{
  width: 100%;
  height: 100%;
}
.account-details-user-info-coverImage-section-CoverImage{
  object-fit: fill;
  width: 100%;
  height: 100%;
  border-top-left-radius:0.5rem ;
  border-top-right-radius:0.5rem ;
}

.account-details-user-info-profileImage-section{
  width: 8rem;
  height: 8rem;
  position: absolute;
  top: 7rem;
  padding: 1rem;
}
.account-details-user-info-profileImage-section-view{
  width: 8rem;
  height: 8rem;
  background-color: #fff;
  padding: 4px;
  cursor: pointer;
  border-radius: 100%;
}
.account-details-user-info-about-user{
  display: flex;
  justify-content: space-between;
  color: #facc15;
  padding: 4rem 1rem 0 1rem;
}
.account-details-user-info-about-user-details{
  display:grid;
  flex-basis: 60%;
}
.account-details-user-info-about-user-details-username{
  font-size: 1.875rem;
  font-weight: 700;
}
.account-details-user-info-about-user-details-fullName{
  font-size: 1.25rem;
  font-weight: 700;
}
.account-details-user-info-about-user-details-data{
  display: flex;
  gap:0.5rem;
}
.account-details-user-info-about-user-details-tag{
  font-weight: 600;
}
.account-details-user-info-about-user-details-pin{
  font-size: 1.5rem;
}
.account-details-user-info-about-user-followers{
  flex-basis: 20%;
}
.account-details-user-info-about-user-followers-button{
  padding: 5px 12px;
  background-color: #ff404f;
  color:rgb(185, 181, 181)
}
.account-details-user-info-about-user-followers-total-followers{
  display: flex;
  gap:0.5rem;
  margin: 1rem 0;
  align-content: center;
}
.account-details-user-info-about-user-followers-total-followers-follower-image{
  width: 25px;
  height: 25px;
}
.account-details-user-info-about-user-followers-total-followers-follower-value{
  font-size: 1.2rem;
}
.account-details-user-info-about-user-posts{
  display: flex;
  gap:1rem;
  padding:1rem
}
.account-details-user-info-about-user-posts-button{
  padding: 0.25rem 1.25rem;
  background-color: #374151;
  color:#020617;
  font-weight: 700;
  border-radius: 30px;
  text-wrap: nowrap;
}

.account-details-user-info-all-posts{
  width: 100%;
  background-color: #d9e9f0;
}
.account-details-user-info-all-posts-box{
  padding: 1.8rem 0;
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  gap:1rem

}
.account-details-user-info-all-post-pagination{
  position: relative;
  margin: 1.2rem 0 ;
  padding: 0.8rem 0rem;
}
.account-details-user-info-all-post-pagination-box{
  display:flex;
  padding:0 1rem ;
  gap:2rem;
  position: absolute;
  bottom: 0.5rem;
  right: 1rem;
}
.account-details-user-info-all-post-pagination-icon{
  align-content: center;
  font-size: 2.5rem;
  background: #facc15;
  border-radius: 100%;
  color:#fff;
  font-weight: 900;
}
.account-details-user-info-all-post-pagination-page-no{
  align-content:center ;
  font-size: 1.5rem;
  font-weight: 600;
}

/* blogCard */
.blogCard{
  width: 350px;
  height: 224px;
  position: relative;
  cursor: pointer;
  color:#111827;
  background-color: #3b3b3b;
}
.blogCard-Image-box{
  position: absolute;
  width:100%;
  border-radius: 0.5rem;
}
.blogCard-Image{
  height: 100%;
  width: 100%;
  object-fit: fill;
}
.blogCard-top{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 2.5rem;
  position: relative;
  top:0;
  overflow: hidden;
  border-top-right-radius: 0.5rem;
  z-index: 1;
}
.blogCard-top-like{
  align-content: center;
  padding: 0.25rem 2rem;
  font-size: 1.5rem;
}
.blogCard-top-like-icon{
  font-size: 1.5rem;
}
.blogCard-top-like-total-likes{
  background-color: transparent;
  width: 112px;
  padding: 0.5rem 1rem;
  align-content: center;
  text-align: center;
  transform: skewX(40deg);
  position: absolute;
  right: -1rem;
  color:#f9cc17;
  font-size: 1.25rem;
}
.blogCard-top-like-total-likes-text{
  transform: skewX(-40deg);
}
.blogCard-post-info{
  position: absolute;
  bottom: 0;
  overflow: hidden;
  width: 100%;
  z-index: 1;
}
.blogCard-post-date{
  width: 40%;
  padding:0.25rem 0.5rem;
  background-color: transparent ;
  color:#f6e528;
  font-size: 1.25rem;
}
.blogCard-post-title{
  background-color: #f9cc17;
  padding: 0.25rem 0.5rem;
  width: 100%;
  font-weight: 600;
  text-wrap: nowrap;
  font-size: 1.25rem;
}


}
@media (min-width: 481px) and (max-width: 767px) {
                                        /* navbar */
  .navbar{
    width:100%;
    overflow-x:visible;
    display: flex;
    justify-content: space-between;
    /* gap:4rem */
  }
  .nav-left-items{
    display: flex;
    gap:1rem;
  }
  .nav-right-items{
    display: none;
  }
  .hamberger{
    width:100%;
    height:auto;
    text-align:end;
    visibility: visible;
  }

                                  /* Home */
.home-top{
  display: flex;
  width: 100%;
  height: 400px;
  margin:1rem 0;
}
.home-top-left{
  width:50%;
  align-content: center;
    
}
.heading{
  display: grid;
  line-height: 2.5rem;
  font-size: 2rem;
  font-weight: 700;
  color:#facc15
}
.home-desc{
  font-size: 0.8rem;
  padding: 0.8rem 0;
  color:#facc15
}
.home-top-right{
  width: 50%;
  height: auto;
  align-content: center;
  visibility: visible;
}
.home-top-right-image{
  width:100%;
  height: 300px;
  padding: 10px;
  background-color: #e2e2f0;
  background-size: cover;
  border-radius: 20px;
}

                   /* home-mid */
.home-mid{
  margin:1rem ;
  display: grid;
  grid-template-columns: auto auto;
  gap:1rem;
}
.home-mid-box{
  padding: 1rem;
  border:3px solid #facc15;
  border-radius: 1rem;
  display: grid;
  width: 100%;
  justify-items: center;
  gap:1rem
}
.home-mid-box-image{
  width: 200px;
}
.home-mid-box-title{
  font-size: 1.5rem;
  font-weight: 600;
  color:#facc15
}
.home-mid-box-desc{
  font-size: 1rem;
  text-align: justify;
}
/* testimonial */
.testimonial{
  width: 100%;
  background:#375139;
}
.testimonial-box{
  width: 100%;
  display: grid;
  margin: 2rem 0;
  color:#facc15;
}
.testimonial-heading-1{
  margin: 0.5rem 0;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 700;
}
.testimonial-heading-2{
  margin:1rem 0;
  font-size: 2.5rem ;
  text-align: center;
  line-height: 2.25rem;
  font-weight: 700;
  color: #6b7280;
}
.testimonial-hr{
  margin: 0.5rem auto;
  outline:none;
  border:none;
  height: 0.5rem;
  width: 90%;
  background-color:#facc15;
}
.testimonial-p{
  text-align: center;
  font-size: 1.2rem;
  width: 100%;
  margin: 1rem auto;
}
.testimonial-inner-box{
  width: 100%;
  display: grid;
  padding: 1rem 0;
  justify-items: center;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  background-color: #d5d3d3;
  align-items: center;
}
.testimonial-inner-box-arrow{
  padding: 0 1rem;
  
}
.testimonial-inner-box-feedback{
  width:325px;
}
.testimonial-inner-box-feedback-container{
  width:100%;
  display: flex;
  gap:2rem; 
  overflow-x:auto;
}
.testimonial-card{
  position: relative;
  display:grid;
  width:325px;
  min-height:500px;
  max-height: auto;
  justify-items: center;
}
.testimonial-card-outer-box{
  width:325px;
  z-index: 2;
}
.testimonial-card-box{
  margin: 0 auto;
  width:100px;
  height: 100px;
  background:#fff;
  background-size: cover;
  border-radius: 100%;
  align-content: center;
}
.testimonial-card-box-image{
  margin: 0 auto;
  width:94px;
  height: 94px;
  padding: 3px;
  border-radius: 100%;
  
}
.testimonial-card-content{
  position: absolute;
  top:50px;
  display: grid;
  height: auto;
  background: #747171;
  padding-top: 5rem;
  z-index: 1;
}
.testimonial-card-content-quote{
  width: 100%;
  padding: 1rem;
}
.testimonial-card-content-quote-right{
  float:right;
}
.testimonial-card-content-desc{
  padding: 0 1rem;
  font-size:1.2rem
}
.testimonial-card-content-user{
  width: 100%;
  padding: 1rem;
}
.testimonial-card-content-user-id{
  float: right;
  font-size: 1.2rem;
}

  /* footer */
  .footer-box{
    display:grid;
    padding: 0 1rem;
    width: 100%;
    gap:1.5rem;
    grid-template-columns: auto auto  ;
  }
  .footer-box-1{
    display: grid;
  }
  .footer-box-1-logo{
    width:60px;
    height: 60px;
  }
  .footer-box-1-logo-image{
    width: 60px;
    height: 60px;
    background-size: cover;
  }
  .footer-box-1-logo-name{
    display: flex;
    gap:2px;
    font-size:2rem;
    font-weight: 900;
  }
  .footer-box-1-slogan{
    font-size: 1.5rem;
    font-weight: 400;
  }
  .footer-box-2-3{
    display: grid;
  }
  .footer-box-2-3-4-heading{
    font-size: 1.3rem;
    font-weight: 700;
  }
  .footer-box-2-3-links{
    list-style: none;
    font-weight: 600;
    color:#646262;
  }
  .footer-box-4-links{
    display: grid;
    gap:0.2rem;
  }
  .footer-box-4-link{
    display: flex;
    gap:0.5rem;
    align-items: center;
    color:#646262;
  }
  .footer-box-hr{
    margin-top: 1rem ;
    height:1px;
    width:100%;
    background: #000;
  }
  .footer-box-copyright{
    padding:0.5rem 0;
    display:flex;
    gap:4px;
    justify-content: center;
  }
  .footer-box-copyright-icon{
    align-content: center;
  }
}

@media (min-width: 767px) and (max-width: 1024px) {
                                      /* navbar */
  .navbar{
    width:100%;
    overflow-x:visible;
    display: flex;
    justify-content: space-between;
  }
  .nav-left-items{
    display: flex;
    gap:2rem;
  }
  .nav-right-items{
    display: flex;
    gap:2rem;
    justify-content: end;
    visibility: visible;
  }
  .hamberger{
    display: none;
  }

                          /* home-top */
  .home-top{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height:400px;
    margin:2rem 0;
  }
  .home-top-left{
    width:45%;
    align-content: center;
  }
  .heading{
    font-size: 2.5rem;
    display: grid;
    line-height: 3rem;
    font-weight: 700;
    color:#facc15
  }
  .home-desc{
    padding:1rem 0;
    font-size: 1rem;
    color:#facc15
  }
  .home-top-right{
    width:55%;
    height: 100%;
   visibility: visible;
   align-content: center;
  }
  .home-top-right-image{
    width:100%;
    padding: 10px;
    height: 350px;
    background-color: #e2e2f0;
    background-size: cover;
    border-radius: 20px;
  }

                        /* home-mid */
.home-mid{
  margin:1rem ;
  display:grid;
  grid-template-columns: auto auto auto;
  gap:1.5rem;
}
.home-mid-box{
  padding: 1rem;
  border:3px solid #facc15;
  border-radius: 1rem;
  display: grid;
  width: 100%;
  justify-items: center;
  gap:1rem
}                      
.home-mid-box-image{
  width: 200px;
}                      
.home-mid-box-title{
  font-size: 1.5rem;
  font-weight: 600;
  color:#facc15
}                    
.home-mid-box-desc{
  font-size: 1rem;
  text-align: justify;
}  
/* testimonial */
.testimonial{
  width: 100%;
  background:#375139;
}
.testimonial-box{
  width: 100%;
  display: grid;
  margin: 2rem 0;
  color:#facc15;
}
.testimonial-heading-1{
  margin: 0.5rem 0;
  font-size: 1.8rem;
  text-align: center;
  font-weight: 700;
}
.testimonial-heading-2{
  margin:1rem 0;
  font-size: 2.5rem ;
  text-align: center;
  line-height: 2.25rem;
  font-weight: 700;
  color: #6b7280;
}
.testimonial-hr{
  margin: 0.5rem auto;
  outline:none;
  border:none;
  height: 0.5rem;
  width: 90%;
  background-color:#facc15;
}
.testimonial-p{
  text-align: center;
  font-size: 1.2rem;
  width: 100%;
  margin: 1rem auto;
}
.testimonial-inner-box{
  width: 100%;
  display: grid;
  padding: 1rem 0;
  justify-items: center;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  background-color: #d5d3d3;
  align-items: center;
}
.testimonial-inner-box-arrow{
  padding: 0 1rem;
  
}
.testimonial-inner-box-feedback{
  width:325px;
}
.testimonial-inner-box-feedback-container{
  width:100%;
  display: flex;
  gap:2rem; 
  overflow-x:auto;
}
.testimonial-card{
  position: relative;
  display:grid;
  width:600px;
  min-height:550px;
  max-height: auto;
  justify-items: center;
}
.testimonial-card-outer-box{
  width:325px;
  z-index: 2;
}
.testimonial-card-box{
  margin: 0 auto;
  width:100px;
  height: 100px;
  background:#fff;
  background-size: cover;
  border-radius: 100%;
  align-content: center;
}
.testimonial-card-box-image{
  margin: 0 auto;
  width:94px;
  height: 94px;
  padding: 3px;
  border-radius: 100%;
  
}
.testimonial-card-content{
  position: absolute;
  top:50px;
  display: grid;
  height: auto;
  background: #747171;
  padding-top: 5rem;
  z-index: 1;
}
.testimonial-card-content-quote{
  width: 100%;
  padding: 1rem;
}
.testimonial-card-content-quote-right{
  float:right;
}
.testimonial-card-content-desc{
  padding: 0 1rem;
  font-size: 1.5rem;
}
.testimonial-card-content-user{
  width: 100%;
  padding: 1rem;
}
.testimonial-card-content-user-id{
  float: right;
  font-size: 1.5rem;
}

  /* footer */
  .footer-box{
    display:grid;
    padding: 0 1rem;
    width: 100%;
    gap:1.5rem;
    grid-template-columns: auto auto auto auto;
  }
  .footer-box-1{
    display: grid;
  }
  .footer-box-1-logo{
    width:60px;
    height: 60px;
  }
  .footer-box-1-logo-image{
    width: 60px;
    height: 60px;
    background-size: cover;
  }
  .footer-box-1-logo-name{
    display: flex;
    gap:2px;
    font-size:2rem;
    font-weight: 900;
  }
  .footer-box-1-slogan{
    font-size: 1.5rem;
    font-weight: 400;
  }
  .footer-box-2-3{
    display: grid;
  }
  .footer-box-2-3-4-heading{
    font-size: 1.3rem;
    font-weight: 700;
  }
  .footer-box-2-3-links{
    list-style: none;
    font-weight: 600;
    color:#646262;
  }
  .footer-box-4-links{
    display: grid;
    gap:0.2rem;
  }
  .footer-box-4-link{
    display: flex;
    gap:0.5rem;
    align-items: center;
    color:#646262;
  }
  .footer-box-hr{
    margin-top: 1rem ;
    height:1px;
    width:100%;
    background: #000;
  }
  .footer-box-copyright{
    padding:0.5rem 0;
    display:flex;
    gap:4px;
    justify-content: center;
  }
  .footer-box-copyright-icon{
    align-content: center;
  }
}

@media (min-width:1025px) {
                                     /* navbar */
  .navbar{
    width:100%;
    overflow-x:visible;
    display: flex;
    justify-content: space-between;
  }
  .nav-left-items{
    display: flex;
    gap:2rem;
  }
  .nav-right-items{
    display: flex;
    gap:5rem;
    justify-content: end;
    visibility: visible;
  }
  .hamberger{
    display: none;
  }
                                /* Home */
  .home-top{
    margin:2rem 0;
    height: auto;
    width: 100%;
    display: flex;
    justify-content:space-around;
  }
  .home-top-left{
    width:50%;
    align-content:center;
  }
  .heading{
    font-size: 4rem;
    display: grid;
    line-height: 4rem;
    font-weight: 700;
    color:#facc15
  }
  .home-desc{
    padding:1.5rem 0;
    font-size: 1.5rem;
    color:#facc15
  }
  .home-top-right{
    height:100%;
    width: 50%;
    align-content: center;
    visibility: visible;
  }

  .home-top-right-image{
    margin: 0 auto;
    width:90%;
    height: 500px;
    padding: 10px;
    background-color: #e2e2f0;
    background-size: cover;
    border-radius: 20px;
  }

                            /* home-mid */
  .home-mid{
    margin:1rem ;
    display:grid;
    grid-template-columns: auto auto auto auto;
    gap:1.5rem;
  }
  .home-mid-box{
  padding: 1rem;
  border:3px solid #facc15;
  border-radius: 1rem;
  display: grid;
  width: 100%;
  justify-items: center;
  gap:1rem
  }
  .home-mid-box-image{
    width: 150px;
  }
  .home-mid-box-title{
    font-size: 1.5rem;
    font-weight: 600;
    color:#facc15
  }                    
  .home-mid-box-desc{
    font-size: 1rem;
    text-align: justify;
  } 

  /* testimonial */
  .testimonial{
    width: 100%;
    background:#375139;
  }
  .testimonial-box{
    width: 100%;
    display: grid;
    margin: 2rem 0;
    color:#facc15;
  }
  .testimonial-heading-1{
    margin: 0.5rem 0;
    font-size: 1.6rem;
    text-align: center;
    font-weight: 700;
  }
  .testimonial-heading-2{
    margin:1rem 0;
    font-size: 2.5rem ;
    text-align: center;
    line-height: 2.25rem;
    font-weight: 700;
    color: #6b7280;
  }
  .testimonial-hr{
    margin: 0.5rem auto;
    outline:none;
    border:none;
    height: 0.5rem;
    width: 90%;
    background-color:#facc15;
  }
  .testimonial-p{
    text-align: center;
    font-size: 1.2rem;
    width: 100%;
    margin: 1rem auto;
  }
  .testimonial-inner-box{
    width: 100%;
    display: grid;
    padding: 1rem 0;
    justify-items: center;
    grid-template-columns: 0.5fr 2fr 0.5fr;
    background-color: #d5d3d3;
    align-items: center;
  }
  .testimonial-inner-box-arrow{
    padding: 0 1rem;
    
  }
  .testimonial-inner-box-feedback{
    width:325px;
  }
  .testimonial-inner-box-feedback-container{
    width:100%;
    display: flex;
    gap:2rem; 
    overflow-x:auto;
  }
  .testimonial-card{
    position: relative;
    display:grid;
    width:325px;
    min-height:400px;
    max-height: auto;
    justify-items: center;
  }
  .testimonial-card-outer-box{
    width:325px;
    z-index: 2;
  }
  .testimonial-card-box{
    margin: 0 auto;
    width:100px;
    height: 100px;
    background:#fff;
    background-size: cover;
    border-radius: 100%;
    align-content: center;
  }
  .testimonial-card-box-image{
    margin: 0 auto;
    width:94px;
    height: 94px;
    padding: 3px;
    border-radius: 100%;
    
  }
  .testimonial-card-content{
    position: absolute;
    top:50px;
    display: grid;
    height: auto;
    background: #747171;
    padding-top: 5rem;
    z-index: 1;
  }
  .testimonial-card-content-quote{
    width: 100%;
    padding: 1rem;
  }
  .testimonial-card-content-quote-right{
    float:right;
  }
  .testimonial-card-content-desc{
    padding: 0 1rem;
    font-size: 1rem;
  }
  .testimonial-card-content-user{
    width: 100%;
    padding: 1rem;
  }
  .testimonial-card-content-user-id{
    float: right;
    font-size: 1rem;
  }

    /* footer */
.footer-box{
  display:grid;
  padding: 0 1rem;
  width: 100%;
  gap:1.5rem;
  grid-template-columns: auto auto auto auto;
}
.footer-box-1{
  display: grid;
}
.footer-box-1-logo{
  width:60px;
  height: 60px;
}
.footer-box-1-logo-image{
  width: 60px;
  height: 60px;
  background-size: cover;
}
.footer-box-1-logo-name{
  display: flex;
  gap:2px;
  font-size:2rem;
  font-weight: 900;
}
.footer-box-1-slogan{
  font-size: 1.5rem;
  font-weight: 400;
}
.footer-box-2-3{
  display: grid;
}
.footer-box-2-3-4-heading{
  font-size: 1.3rem;
  font-weight: 700;
}
.footer-box-2-3-links{
  list-style: none;
  font-weight: 600;
  color:#646262;
}
.footer-box-4-links{
  display: grid;
  gap:0.2rem;
}
.footer-box-4-link{
  display: flex;
  gap:0.5rem;
  align-items: center;
  color:#646262;
}
.footer-box-hr{
  margin-top: 1rem ;
  height:1px;
  width:100%;
  background: #000;
}
.footer-box-copyright{
  padding:0.5rem 0;
  display:flex;
  gap:4px;
  justify-content: center;
}
.footer-box-copyright-icon{
  align-content: center;
}

}