.blogcard-container {
  width: 100%;
  height: 180px;
  margin: auto;
  overflow: hidden;
  font-family: Arial, sans-serif;
  background-color: #fff;
  box-shadow: 5px 5px 10px #d0cfcf;
  border-radius: 10px;
}

.blogcard-image {
  position: relative;
  width: 100%;
  height: 100px;
  overflow: hidden;
}

.blogcard-image img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.blogcard-details {
  position: relative;
}

.blogcard-creator {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  position: relative;
}

.blogcard-date {
  font-size: 12px;
  color: #555;
  margin-bottom: 10px;
  position: absolute;
  top: -10px;
  left: 0;
  padding: 4px 7px 0 7px;
  border-top-right-radius: 8px;
  background-color: #fff;
}

.creator-image-wrapper {
  position: absolute;
  top: -20px;
  right: 0;
  width: 40px;
  height: 40px;
  overflow: visible;
}

.creator-image {
  width: 36px;
  height: 36px;
  padding: 2px;
  border-radius: 50%;
  border: 2px solid #fff;
  object-fit: cover;
}

.blogcard-title {
  display: block;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 5px;
}
